.container {
    padding: 2px 5px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.container.selected {
    background-color: #272822;
}

.icon {
    display: flex;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    cursor: pointer;
}

.fileName {
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input {
    background-color: #343434;
    color: white;
    border: 1px solid white;
    outline: none;
    font-size: 16px;
    user-select: all;
}
