.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.fileExplorer {
    min-width: 300px;
    flex: 1;
    height: 100%;
}

.content {
    flex: 5;
    overflow: hidden;
}

.content::-webkit-scrollbar{
    display: none;
}
